<h1>Patty's
<%=@dep.name%> 
</h1>
<h2 style= "text-align: center; color: black;">$<%= @item.price%> <%= @item.name%></h2>


<p><%=@item.instock_alert%><br /><br />
<%=link_to "Edit #{@item.name}", edit_department_item_path([@dep, @topic])%>
<%= link_to "Delete", [@dep, @topic], method: :delete%>
<%= link_to "Back to #{@dep.name}", department_items_path(@dep)%>
